In [21]:
import pandas as pd

ks2cols = ["URN", "SCHNAME", "PTKS1GROUP_M", "PTKS1GROUP_H", "PTREAD_EXP" ,"PTREAD_HIGH", "PTGPS_EXP", "PTGPS_HIGH",
          "PTWRITTA_EXP", "PTWRITTA_HIGH", "PTMAT_EXP", "PTMAT_HIGH", "PTRWM_EXP", "PTRWM_HIGH"]
ks4cols = ["URN", "SCHNAME", "ATT8SCR", "P8MEA"]

ks22017 = pd.read_csv('../../Mini-project-London/data/data-education-modified/england_ks2final17.csv', usecols=ks2cols)
ks42017 = pd.read_csv('../../Mini-project-London/data/data-education-modified/england_ks4final17.csv', usecols=ks4cols)
ks22018 = pd.read_csv('../../Mini-project-London/data/data-education-modified/england_ks2final18.csv', usecols=ks2cols)
ks42018 = pd.read_csv('../../Mini-project-London/data/data-education-modified/england_ks4final18.csv', usecols=ks4cols)
ks22019 = pd.read_csv('../../Mini-project-London/data/data-education-modified/england_ks2final19.csv', usecols=ks2cols,
                     nrows = 16355)
ks42019 = pd.read_csv('../../Mini-project-London/data/data-education-modified/england_ks4final19.csv', usecols=ks4cols)


ks2 = pd.concat([ks22017, ks22018, ks22019])
ks2 = 
# ks22 = ks2.groupby(level=1).mean()
# ks22.head()

# ks2 = [ks22017, ks42018, ks22019]
# ks2 = [df.set_index("URN") for df in ks2]
# ks2 = ks2[0].join(ks2[1:])

# ks2.head()

# ks2av = (ks22017 + ks22018 + ks22019)/3
# ks4av = (ks42017 + ks42018 + ks42019)/3
# ks22017.head()

C:\Users\fergu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,URN,SCHNAME,PTKS1GROUP_M,PTKS1GROUP_H,PTRWM_EXP,PTRWM_HIGH,PTREAD_EXP,PTREAD_HIGH,PTGPS_EXP,PTGPS_HIGH,PTMAT_EXP,PTMAT_HIGH,PTWRITTA_EXP,PTWRITTA_HIGH
0,110705,The Duke of Bedford Primary School,61%,35%,50%,4%,54%,4%,63%,4%,67%,8%,75%,21%
1,117736,East Halton Primary School,56%,33%,33%,0%,67%,22%,78%,33%,67%,0%,56%,0%
2,122638,East Markham Primary School,57%,33%,67%,5%,86%,19%,90%,62%,71%,14%,86%,24%
3,141550,Easton Primary School,50%,38%,88%,0%,88%,63%,75%,38%,88%,0%,88%,13%
4,142999,Eastwick Junior School,40%,52%,64%,9%,73%,32%,73%,35%,78%,34%,80%,17%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16350,126163,"Fordwater School, Chichester",0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
16351,136114,Woodlands Meed,30%,5%,0%,0%,0%,0%,0%,0%,10%,5%,0%,0%
16352,145394,Brantridge School,60%,0%,0%,0%,25%,0%,13%,0%,0%,0%,0%,0%
16353,126169,Herons Dale School,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
16354,126170,"Cornfield School, Littlehampton",SUPP,SUPP,SUPP,SUPP,SUPP,SUPP,SUPP,SUPP,SUPP,SUPP,SUPP,SUPP